In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Datasets/05_googleplaystore.csv')

In [19]:
# 1. Display Top 5 Rows of The Dataset
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [20]:
# 2. Check the Last 3 Rows of The Dataset
df.tail(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [21]:
# 3. Find Shape of Our Dataset (Number of Rows & Number of Columns)
df.shape

(10841, 13)

In [22]:
# 4. Get Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [23]:
# 5. Get Overall Statistics About The Dataframe
df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [28]:
df['Rating'].fillna(df['Rating'].mean(),inplace=True)

C:\Users\Asus\AppData\Local\Temp\ipykernel_8628\1825748660.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Rating'].fillna(df['Rating'].mean(),inplace=True)

In [29]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    1
Genres            0
Last Updated      0
Current Ver       8
Android Ver       3
dtype: int64

In [35]:
# 6. Total Number of App Titles Contain Astrology
df[df['App'].str.contains('Astrology',case=False)].shape[0]

3

In [38]:
# 7. Find Average App Rating
df['Rating'].mean()

np.float64(4.193338315362443)

In [39]:
# 8.  Find Total Number of Unique Category
df['Category'].nunique()

34

In [40]:
# 9. Which Category Getting The Highest Average Rating?
df.groupby('Category')['Rating'].mean().sort_values(ascending=False).head(1)

Category
1.9    19.0
Name: Rating, dtype: float64

In [44]:
# 10. Find Total Number of App having 5 Star Rating
df[df['Rating']==5.0].shape[0]

274

In [49]:
# 11. Find Average Value of Reviews
df['Reviews'] = df['Reviews'].replace('3.0M',3.0)

In [51]:
df['Reviews'] = df['Reviews'].astype('float')

In [52]:
df['Reviews'].mean()

np.float64(444111.9265750392)

In [54]:
# 12. Find Total Number of Free and Paid Apps
df['Type'].value_counts()

Type
Free    10039
Paid      800
0           1
Name: count, dtype: int64

In [55]:
# 13.  Which App Has Maximum Reviews?
df['Reviews'].max()

np.float64(78158306.0)

In [57]:
# 14. Display Top 5 Apps Having Highest Reviews
df.groupby('App')['Reviews'].sum().sort_values(ascending=False).head()

App
Instagram                                   266241989.0
WhatsApp Messenger                          207348304.0
Clash of Clans                              179558781.0
Messenger – Text and Video Chat for Free    169932272.0
Subway Surfers                              166331958.0
Name: Reviews, dtype: float64

In [60]:
# 15. Find Average Rating of Free and Paid Apps
df.groupby('Type')['Rating'].mean().sort_values(ascending=False).head()

Type
0       19.000000
Paid     4.252601
Free     4.187141
Name: Rating, dtype: float64

In [61]:
# 16. Display Top 5 Apps Having Maximum Installs
df['Installs'].dtype

dtype('O')

In [64]:
df['Installs'] = df['Installs'].str.replace(',','')

In [66]:
df['Installs'] = df['Installs'].str.replace('+','')

In [67]:
df.head(1)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19M,10000,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up

In [69]:
df[df['Installs'] == 'Free']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [70]:
df['Installs'] = df['Installs'].str.replace('Free','0')

In [72]:
df['Installs'] = df['Installs'].astype('int')

In [75]:
index = df['Installs'].sort_values(ascending=False).head().index

In [77]:
df.iloc[index]['App']

5856    Google Play Games
5395        Google Photos
2853        Google Photos
2884        Google Photos
4170         Google Drive
Name: App, dtype: object